.site-footer-three {
    position: relative;
    display: block;
    background-color: #18191B;
    z-index: 1;
}

.site-footer-three__shape-1 {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: -1;
}

.site-footer-three__shape-1 img {
    width: auto;
}

.site-footer-three__shape-2 {
    position: absolute;
    right: 30px;
    bottom: 92px;
    z-index: -1;
}

.site-footer-three__shape-2 img {
    width: auto;
}

.site-footer-three__top {
    position: relative;
    display: block;
    padding: 107px 0 112px;
}

.footer-widget-three__top-left {
    position: relative;
    display: block;
    margin-left: 33px;
    margin-right: 15px;
}

.footer-widget-three__top-title {
    border: 1px solid red;
    font-size: 42px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.footer-widget-three__read-more {
    position: relative;
    display: inline-block;
}

.footer-widget-three__read-more a {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: var(--nexin-base);
}

.footer-widget-three__read-more a:hover {
    color: var(--nexin-white);
}

.footer-widget-three__link-box {
    position: relative;
    display: flex;
    border-top: 1px solid #2A2A2A;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;
    padding-top: 33px;
}

.footer-widget-three__link {
    position: relative;
    display: block;
}

.footer-widget-three__link li {
    position: relative;
    display: block;
}

.footer-widget-three__link li+li {
    margin-top: 9px;
}

.footer-widget-three__link li a {
    font-weight: 500;
    color: var(--nexin-gray);
}

.footer-widget-three__link li a:hover {
    color: var(--nexin-base);
}

.footer-widget-three__top-right {
    position: relative;
    display: block;
    margin-left: 60px;
    margin-right: 33px;
    margin-top: 4px;
}

.footer-widget-three__top-right-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.footer-widget-three__top-right-text {
    margin: 13px 0 42px;
}

.footer-widget-three__newsletter-form-input-box {
    position: relative;
    display: block;
}

.footer-widget-three__newsletter-form-input-box input[type="email"] {
    height: 52px;
    width: 100%;
    background-color: #2A2A2A;
    outline: none;
    font-size: 16px;
    color: var(--nexin-gray);
    font-weight: 400;
    border: none;
    padding-right: 55px;
    padding-left: 30px;
}

.footer-widget-three__newsletter-btn {
    position: absolute;
    top: 50%;
    right: 12px;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-widget-three__newsletter-btn>span:hover {
    color: var(--nexin-white);
}

.footer-widget-three__newsletter-btn>span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--nexin-base);
}

.footer-widget-three__contact-list {
    position: relative;
    display: block;
    margin-top: 23px;
}

.footer-widget-three__contact-list li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-widget-three__contact-list li+li {
    margin-top: 16px;
}

.footer-widget-three__contact-list li span {
    position: relative;
    display: block;
    max-width: 70px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: var(--nexin-white);
}

.footer-widget-three__contact-list li p a {
    color: var(--nexin-gray);
}

.footer-widget-three__contact-list li p {
    border-bottom: 1px solid #2A2A2A;
    line-height: 19px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-widget-three__contact-list li p a:hover {
    color: var(--nexin-base);
}

.site-footer-three__bottom {
    border-top: 1px solid #2A2A2A;
    padding: 33px 0 32px;
}

.site-footer-three__bottom-inner {
    position: relative;
    display: block;
    text-align: center;
}

.site-footer-three__bottom-text {
    color: var(--nexin-white);
}

.site-footer-three__bottom-text a {
    color: var(--nexin-base);
}

.site-footer-three__bottom-text a:hover {
    color: var(--nexin-white);
}

