.modalContainer {
  height: 350px;
  width: 400px;
  position: fixed;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  will-change: left, top;
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
}

@media (max-width: 450px) {
  .modalContainer {
    width: 200px;
    height: 200px;
  }
}
