/* [project]/vs_code_workspace/react work/company portfolio/frontend/app/global.scss.css [app-client] (css) */
html {
  font-size: 15px;
}

:root {
  scroll-behavior: unset;
}

body {
  color: #8683a1;
  background-color: #fff;
  font-family: Outfit, sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

p {
  color: #8683a1;
  font-size: 16px;
  line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
  color: #151924;
  font-family: Outfit, sans-serif;
  font-weight: 600;
}

ul {
  margin: 0;
  padding-left: 0;
}

a {
  -o-transition: all .2s;
  text-decoration: none;
  transition: all .2s;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.sr-only {
  opacity: 0;
  visibility: hidden;
  display: none !important;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
}

.wow {
  visibility: hidden;
}

.fi:before {
  margin: 0;
}

.section-padding {
  padding: 120px 0;
}

@media (max-width: 991px) {
  .section-padding {
    padding: 90px 0;
  }
}

@media (max-width: 767px) {
  .section-padding {
    padding: 80px 0;
  }
}

.contact-validation-active .error-handling-messages {
  width: 100% !important;
  margin-top: 15px !important;
}

.contact-validation-active label.error {
  color: red;
  text-align: left;
  margin: 5px 0 0;
  font-size: .933333rem;
  font-weight: normal;
  display: block;
}

.contact-validation-active #c-loader, .contact-validation-active #loader {
  margin-top: 10px;
  display: none;
}

.contact-validation-active #c-loader i, .contact-validation-active #loader i {
  color: #fed201;
  font-size: 2rem;
  animation: 2s linear infinite rotating;
  display: inline-block;
}

.contact-validation-active #success, .contact-validation-active #c-success, .contact-validation-active #c-error, .contact-validation-active #error {
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  display: none;
}

@media (max-width: 767px) {
  .contact-validation-active #success, .contact-validation-active #c-success, .contact-validation-active #c-error, .contact-validation-active #error {
    font-size: 15px;
  }
}

.contact-validation-active #c-success, .contact-validation-active #success {
  background-color: #009a00;
  border-left: 5px solid green;
  margin-bottom: 5px;
}

.contact-validation-active #c-error, .contact-validation-active #error {
  background-color: #ff1a1a;
  border-left: 5px solid red;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: 5s infinite alternate rotating;
}

.back-to-top {
  text-align: center;
  z-index: 999;
  -o-transition: all .2s;
  background-color: #fed201b3;
  border: 2px solid #fed201;
  border-radius: 45px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  transition: all .2s;
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

@media (max-width: 991px) {
  .back-to-top {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

.back-to-top:hover {
  background-color: #fed201;
}

.back-to-top i {
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mfp-wrap {
  z-index: 99999;
  background-color: #000000e6;
}

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: .8;
}

.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.fancybox-overlay {
  background: #000000e6;
  z-index: 9999 !important;
}

.fancybox-wrap {
  z-index: 99999 !important;
}

.theme-btn, .view-cart-btn {
  cursor: pointer;
  color: #151924;
  text-transform: capitalize;
  z-index: 0;
  background: #fed201;
  border-radius: 55px;
  outline: none;
  padding: 20px 40px;
  font-size: 19px;
  font-weight: 500;
  transition: color .3s .2s;
  display: inline-block;
  position: relative;
}

.theme-btn:before, .view-cart-btn:before {
  content: "";
  z-index: -1;
  filter: blur(5px);
  opacity: 0;
  background: linear-gradient(45deg, red, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, red) 0 0 / 400%;
  border-radius: 55px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transition: opacity .3s ease-in-out;
  animation: 20s linear infinite glowing;
  position: absolute;
  top: -2px;
  left: -2px;
}

.theme-btn:hover, .view-cart-btn:hover {
  color: #151924;
}

.theme-btn:hover:before, .view-cart-btn:hover:before {
  opacity: 1;
}

.theme-btn:after, .view-cart-btn:after {
  z-index: -1;
  content: "";
  background: #fed201;
  border-radius: 55px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 991px) {
  .theme-btn, .view-cart-btn {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .theme-btn, .view-cart-btn {
    padding: 12px 18px;
    font-size: 14px;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.theme-btn-s2 {
  color: #6e6e6e;
  text-transform: capitalize;
  z-index: 1;
  background: #fff;
  border: 1px solid #fed201;
  border-radius: 55px;
  padding: 12px 22px;
  transition: color .3s .2s;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.theme-btn-s2:before {
  content: "";
  z-index: -1;
  background: #ae8c4b;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%);
}

.theme-btn-s2:after {
  content: "";
  z-index: -1;
  background: #ae8c4b;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translate(50%, -50%);
}

@media (max-width: 991px) {
  .theme-btn-s2 {
    font-size: .933333rem;
  }
}

.theme-btn-s2:hover {
  color: #fff;
  border: 1px solid #0000;
}

.theme-btn-s2:hover:before {
  animation: .8s both criss-cross-left;
}

.theme-btn-s2:hover:after {
  animation: .8s both criss-cross-right;
}

@media (max-width: 767px) {
  .theme-btn-s2 {
    padding: 12px 18px;
    font-size: 13px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }

  50% {
    width: 20px;
    height: 20px;
    left: 50%;
  }

  100% {
    width: 375px;
    height: 375px;
    left: 50%;
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }

  50% {
    width: 20px;
    height: 20px;
    right: 50%;
  }

  100% {
    width: 375px;
    height: 375px;
    right: 50%;
  }
}

.theme-btn-s3 {
  color: #fff;
  text-transform: capitalize;
  z-index: 1;
  background: #7665ff;
  border-radius: 55px;
  width: 120px;
  padding: 12px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  transition: all .3s ease-in-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.theme-btn-s3:before {
  content: "";
  z-index: -1;
  background: #fff;
  width: 10px;
  height: 2px;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 15px;
}

.theme-btn-s3:after {
  content: "";
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  background: #151924;
  width: 10px;
  height: 2px;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 50%;
  right: 18px;
}

@media (max-width: 991px) {
  .theme-btn-s3 {
    font-size: 14px;
  }
}

.theme-btn-s3:hover {
  color: #151924;
  background: #fed201;
}

.theme-btn-s3:hover:before {
  opacity: 0;
  visibility: hidden;
}

.theme-btn-s3:hover:after {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767px) {
  .theme-btn-s3 {
    padding: 12px 18px;
    font-size: 13px;
  }
}

.theme-btn-s4 {
  color: #151924;
  text-transform: capitalize;
  z-index: 1;
  background: #7665ff;
  border-radius: 55px;
  justify-content: center;
  align-items: center;
  width: 210px;
  padding: 30px 22px;
  font-size: 19px;
  font-weight: 500;
  line-height: 0;
  transition: all .3s ease-in-out;
  display: flex;
  position: relative;
}

.theme-btn-s4 i {
  padding-left: 15px;
}

.theme-btn-s4 i:before {
  font-size: 30px;
}

@media (max-width: 991px) {
  .theme-btn-s4 {
    font-size: 16px;
  }
}

.theme-btn-s4:hover {
  color: #fff;
  background: #fed201;
}

@media (max-width: 767px) {
  .theme-btn-s4 {
    padding: 12px 18px;
  }
}

@media (max-width: 399px) {
  .theme-btn-s4 {
    width: 180px;
    padding: 5px 10px;
  }
}

.view-cart-btn {
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px 45px;
  display: block;
}

.view-cart-btn:after {
  display: none;
}

.view-cart-btn:hover {
  background-color: #d5b001;
}

.view-cart-btn.s1 {
  background: #ddd;
}

.view-cart-btn.s1:hover {
  background-color: #c9c9c9;
}

.team-pg-area {
  max-width: 1080px;
  margin: 0 auto;
}

.team-info-img {
  padding: 25px;
  box-shadow: 0 6px 20.1px 4.9px #b0bfee1f;
}

@media (max-width: 991px) {
  .team-info-img {
    margin-bottom: 40px;
  }
}

.team-info-img img {
  object-fit: cover;
  width: 100%;
  height: 465px;
}

@media (max-width: 991px) {
  .team-info-img img {
    height: 100%;
  }
}

.team-info-text h2 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 500;
}

.team-info-text {
  padding: 58px 50px;
  box-shadow: 0 6px 20.1px 4.9px #b0bfee1f;
}

.team-info-text ul li {
  color: #1d2327;
  margin-bottom: 22px;
  font-size: 17px;
  font-weight: 700;
  list-style: none;
}

.team-info-text ul li:last-child {
  padding-bottom: 0;
}

.team-info-text ul li span {
  color: #8c8c8c;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
}

.team-info-text ul li:last-child {
  margin-bottom: 0;
}

.at-progress {
  padding: 40px 0;
  box-shadow: 0 5px 15px #3e419f1a;
}

@media (max-width: 991px) {
  .at-progress {
    padding-bottom: 0;
  }
}

.team-info-text h2 {
  color: #1d2327;
  text-align: center;
  background: #eee;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 20px;
  font-size: 27px;
  font-weight: 500;
}

.team-info-wrap ul {
  padding-left: 0;
}

.exprience-wrap p {
  color: #5d5851;
}

.exprience-wrap h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.progress {
  width: 150px;
  height: 150px;
  box-shadow: none;
  overflow: unset;
  background: none;
  margin: 0 auto;
  position: relative;
}

.progress:after {
  content: "";
  border: 6px solid #ebebeb;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  z-index: 1;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  background: none;
  border-style: solid;
  border-width: 6px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  transform-origin: 0;
  border-left: 0;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  left: 100%;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  transform-origin: 100%;
  border-right: 0;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  animation: 1.8s linear forwards loading-1;
  left: -100%;
}

.progress .progress-value {
  color: #fed201;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  font-family: Outfit, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 135px;
  position: absolute;
  top: -5%;
  left: 5%;
}

.progress .progress-bar {
  border-color: #fed201;
}

.progress-name {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.progress-name span {
  color: #131058;
  font-size: 15px;
  line-height: 15px;
}

.progress.blue .progress-left .progress-bar {
  animation: 1.5s linear 1.8s forwards loading-2;
}

.progress.yellow .progress-left .progress-bar {
  animation: 1s linear 1.8s forwards loading-3;
}

.progress.pink .progress-left .progress-bar {
  animation: .4s linear 1.8s forwards loading-4;
}

.progress.green .progress-left .progress-bar {
  animation: 1.2s linear 1.8s forwards loading-5;
}

@keyframes loading-1 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes loading-3 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(120deg);
  }
}

@keyframes loading-4 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(46deg);
  }
}

@keyframes loading-5 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(36deg);
  }
}

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 60px;
  }
}

.progress:before {
  content: "";
  background: #fff;
  border-radius: 50%;
  width: 120%;
  height: 120%;
  position: absolute;
  top: -15px;
  left: -14px;
}

.education-area {
  max-width: 600px;
}

.education-area ul {
  list-style: none;
}

.education-area ul li {
  padding-bottom: 15px;
  padding-left: 20px;
  position: relative;
}

.education-area ul li:before {
  content: "";
  background: #fed201;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 5px;
  left: 0;
}

.ex-wiget {
  padding-top: 60px;
}

.ex-wiget ul {
  list-style: none;
}

.ex-wiget h2 {
  color: #333;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
}

.wpo-contact-area .quote-form {
  margin-left: -10px;
  padding-left: 0;
}

.wpo-contact-area button {
  border-radius: 0;
}

.wpo-contact-area button:after {
  display: none;
}

.wpo-contact-area .quote-form .form-control {
  border: 1px solid #ebebeb;
  height: 55px;
  margin-bottom: 20px;
  padding: 15px;
}

.wpo-contact-area .quote-form .form-control:focus {
  box-shadow: none;
  border-color: #fed201;
  outline: none;
}

.wpo-contact-area .quote-form textarea.form-control {
  height: 125px;
}

.half-col {
  float: left;
  width: 50%;
  padding: 0 10px 5px;
}

.full-col {
  padding: 0 10px 5px;
}

.exprience-area {
  padding-top: 60px;
}

@media (max-width: 767px) {
  .team-info-text {
    padding: 40px 20px;
  }

  .team-info-img {
    padding: 40px;
  }

  .team-info-img img {
    width: 100%;
  }

  .custom-grid {
    float: left;
    width: 50%;
  }

  .exprience-area {
    padding-top: 30px;
  }
}

@media (max-width: 575px) {
  .half-col {
    float: none;
    width: 100%;
  }

  .lawyer-about.pt-150 {
    padding-top: 100px !important;
  }
}

@media (max-width: 375px) {
  .custom-grid {
    float: none;
    width: 100%;
  }
}

.service-sidebar .wpo-contact-widget {
  z-index: 1;
  background: url("../media/select-icon2.38cda760.png") center / cover no-repeat;
  border: 0;
  position: relative;
}

.service-sidebar .wpo-contact-widget:before {
  content: "";
  z-index: -1;
  background: #163967e6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.service-sidebar .wpo-contact-widget h2 {
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 500;
}

.service-sidebar .wpo-contact-widget h2:before {
  background: #fff;
}

.service-sidebar .wpo-contact-widget p {
  color: #fff;
  font-size: 18px;
}

.service-sidebar .wpo-contact-widget a {
  color: #fff;
  border: 1px solid #fff;
  margin-top: 10px;
  padding: 10px 90px 10px 20px;
  font-size: 18px;
  display: inline-block;
  position: relative;
}

.service-sidebar .wpo-contact-widget a:before {
  content: "";
  font-family: themify;
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

/*# sourceMappingURL=99e39_workspace_react%20work_company%20portfolio_frontend_app_global_scss_css_bad6b30c._.single.css.map*/