/* [project]/vs_code_workspace/react work/company portfolio/frontend/app/scss/serviceSingle.scss.css [app-client] (css) */
/* unparsable [project]/vs_code_workspace/react work/company portfolio/frontend/app/scss/serviceSingle.scss.css [app-client] (css) */
