// helpers
@import "./scss/helpers/variables";
@import "./scss/helpers/functions";
@import "./scss/helpers/mixins";

// base
@import "./scss/base/base";

// components
@import "./scss/components/section-title";
@import "./scss/components/buttons";
@import "./scss/components/form";
@import "./scss/components/social-links";
@import "./scss/components/page-title";
@import "./scss/components/preloader";
@import "./scss/components/pagination";

// layout
@import "./scss/layout/footer";

// page
@import "./scss/page/home-default";

@import "./scss/page/service-single";

@import "./scss/page/project-single";

@import "./scss/page/team-single";

@import "./scss/page/faq";

@import "./scss/page/contact";
