.project{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 1.25rem;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;
    gap: 0.75rem;
}
.project:last-of-type{
    border-bottom: 1px solid rgb(201, 201, 201);
}

.project:hover{
    opacity: 0.5;
}

.project:hover h3{
    transform: translateX(50px);
}

.project:hover p{
    transform: translateX(-50px);
}

.project h3{
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0px;
    font-weight: 400;
    transition: all 0.4s;
}

.project p{
    transition: all 0.4s;
    font-weight: 300;
    font-size: 0.9rem;
}

@media (min-width: 640px) {
    .project{
        padding: 2rem 2.5rem;
        gap: 1rem;
    }
    .project h3{
        font-size: 2.25rem;
    }
    .project p{
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .project{
        padding: 3rem 3.5rem;
    }
    .project h3{
        font-size: 3.5rem;
    }
}