
/*--------------------------------------------------------------
14. wpo-contact-pg-section
--------------------------------------------------------------*/
.wpo-contact-pg-section {
	padding-bottom: 0px;

	.container {
		max-width: 1500px !important;

		.row {
			min-width: 80% !important;
		}
	}
}